@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido/a</h1>
    <p>Puede acceder a las herramientas disponibles ingresando con su cuenta.</p>
    <a asp-controller="Login" asp-action="Index" class="btn btn-lg btn-dark">Inicie sesión</a>
    <p>¿No tiene cuenta todavia? <a asp-controller="Login" asp-action="Register"> Crear una cuenta ahora</a> </p>
</div>
